.pokemon-container{
    margin-bottom: 10px;
    cursor: pointer;
}

.pokemon-image{
    width: 100%;
    border: 2px #DDD dashed;
    background: #EEE;
    border-radius: 10px;
}

.pokemon-name{
    font-size: 3vw;
    text-transform: capitalize;
    font-family: monospace;
    color: #333;
}

.paginator button{
    border: none;
    background: none;
    color: #007bff;
    text-decoration: underline;
    margin: 5px;
    cursor: pointer;
}


.paginator .selected-page{
    color: #333;
    text-decoration: none;
    margin: 5px;
    cursor: not-allowed;
}

.first-column.img, .third-column.img{
    max-width: 100%;
    max-height: 300px;
    margin-top: 50%;
}

@media (max-width: 800px){
    .first-column.img, .third-column.img{
        margin-top: 0px;
    }
}


@media (max-width: 600px){
    .first-column.img{
        transform: rotate(90deg);
    }
}
