/* Column Drop */
.column-drop-container .container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: fit-content;
  border-bottom: 5px double #808080;
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  width: 100%;
}

.column-drop-container .columna1, 
.column-drop-container .columna2, 
.column-drop-container .columna3 {
  width: 100%;
  text-align: center;
  padding: 25px;
  overflow: auto;
  overflow-x: hidden;
}


.column-drop-container .columna1, 
.column-drop-container .columna2{
	border-right: 5px double #808080;
}

.column-drop-container .md-content{
	margin: auto;
	width: 100%;
}

.column-drop-container section.columna2 .md-content{
	margin-top: 20px;
}


.column-drop-container .columna1 {
	padding: 20px;
}

@media (max-width: 600px){
	.column-drop-container .columna1, 
	.column-drop-container .columna2{
		border-right: none !important;
		border-bottom: 5px double #808080 !important;
	}
}

@media (max-width: 800px){
	.column-drop-container .columna1, 
	.column-drop-container .columna2{
		border-bottom: 5px double #808080 !important;
	}
	
	
	.column-drop-container .columna1{
		border-right: none !important;
	}
}


@media (min-width: 600px) {
  .column-drop-container .columna1 {
    width: 60%;
    -webkit-order: 2;
    order: 2;
  }

  .column-drop-container .columna2 {
    width: 40%;
    -webkit-order: 1;
    order: 1;
  }

  .column-drop-container .columna3 {
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
  
  
}


@media (min-width: 800px) {
	.column-drop-container .columna2, 
	.column-drop-container .columna3 {
		width: 20%;
	}
}