.PokemonDetail .row{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.PokemonDetail .col .row{
    margin-right: 15px;
    margin-left: 15px;
}

.PokemonDetail .inline{
    display: inline-block;
}

.PokemonDetail .pokemon-name{
    padding-left: 45px;
}

.PokemonDetail .pokemon-description, .pokemon-type{
    padding-left: 20px;
}

.PokemonDetail .pokemon-name h3{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.PokemonDetail .PokemonDetail{
    font-size: 18px;
    padding: 15px;
    font-variant-caps: all-petite-caps;
    font-weight: 500;
    font-family: sans-serif;
}

.PokemonDetail .ability-name button{
    margin: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background: cadetblue;
    color: #EEE;
    font-weight: bold;
    font-feature-settings: "c2sc";
    font-variant: small-caps;
}

.PokemonDetail .ability-container{
    background: #DEDEDE;
    border-radius: 10px;
    box-shadow: 4px 4px black;
}

.PokemonDetail .ability-description{
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 15px;
}

.PokemonDetail .PokemonViewer{
    background-color: #f4f4f4;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid #d5e4ea;
    padding: 0px !important;
    height: fit-content;
}

.PokemonDetail .image-container img{
    width: 100%;
}

.PokemonDetail .images-list-container{
    overflow-x: auto;
    overflow-y: hidden;
    height: max-content;
    border: 1px solid black;
}

.PokemonDetail .images-list-container img{
    border: 1px solid black;
    height: 100px;
    cursor: pointer;
}

.PokemonDetail .stat-bar{
    height: 18px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1px;
}

.PokemonDetail .statNumber{
    vertical-align: text-top;
    display: inline-block;
}

.PokemonDetail .stat-bar.grey{
    background-color: grey;
}


.PokemonDetail .stat-bar.grey{
    background-color: greenyellow;
}

.PokemonDetail .stat-value{
    display: inline-block
}