.hidden{
    opacity: 0;
}

.fade-in{
	opacity: 1;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.fade-in-from-top{
	opacity: 1;
    top: 0px;
    position: relative;
    animation: fadein-from-top 1s;
    -moz-animation: fadein-from-top 1s; /* Firefox */
    -webkit-animation: fadein-from-top 1s; /* Safari and Chrome */
    -o-animation: fadein-from-top 1s; /* Opera */
}

.fade-in-from-bottom{
    opacity: 1;
    top: 0px;
    position: relative;
    animation: fadein-from-bottom 1s;
    -moz-animation: fadein-from-bottom 1s; /* Firefox */
    -webkit-animation: fadein-from-bottom 1s; /* Safari and Chrome */
    -o-animation: fadein-from-bottom 1s; /* Opera */
}

.fade-in-fast{
	opacity: 1;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.lineanimation{
    width: 100%;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}

.lineanimation .line{
    margin: auto !important;
    padding: 0 !important;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    animation: lineexpansion 2s;
    -moz-animation: lineexpansion 2s; /* Firefox */
    -webkit-animation: lineexpansion 2s; /* Safari and Chrome */
    -o-animation: lineexpansion 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein-from-top {
    from {
        opacity:0;
        top: -65px;
    }
    to {
        opacity:1;
        top: 0px;
    }
}
@-moz-keyframes fadein-from-top { /* Firefox */
    from {
        opacity:0;
        top: -65px;
    }
    to {
        opacity:1;
        top: 0px;
    }
}
@-webkit-keyframes fadein-from-top { /* Safari and Chrome */
    from {
        opacity:0;
        top: -65px;
    }
    to {
        opacity:1;
        top: 0px;
    }
}
@-o-keyframes fadein-from-top { /* Opera */
    from {
        opacity:0;
        top: -65px;
    }
    to {
        opacity:1;
        top: 0px;
    }
}

@keyframes fadein-from-bottom {
    from {
        opacity:0;
        top: 35px;
    }
    to {
        opacity:1;
        top: 0px;
    }
}
@-moz-keyframes fadein-from-bottom { /* Firefox */
    from {
        opacity:0;
        top: 35px;
    }
    to {
        opacity:1;
        top: 0px;
    }
}
@-webkit-keyframes fadein-from-bottom { /* Safari and Chrome */
    from {
        opacity:0;
        top: 35px;
    }
    to {
        opacity:1;
        top: 0px;
    }
}
@-o-keyframes fadein-from-bottom { /* Opera */
    from {
        opacity:0;
        top: 35px;
    }
    to {
        opacity:1;
        top: 0px;
    }
}

@keyframes lineexpansion {
    from {
        width: 0%;
        opacity: 0.1;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}
@-moz-keyframes lineexpansion { /* Firefox */
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@-webkit-keyframes lineexpansion { /* Safari and Chrome */
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@-o-keyframes lineexpansion { /* Opera */
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}